<head><link rel="stylesheet" href="css/company.css"></head>

<main>
   <section class="conteiner1">
        <div class="main__firstsection--text">
            <h1 class="main__firstSection--title">ENCONTRE SEU DESENVOLVEDOR</h1>
            <a  class="main__firstSection--btn" href="/companies/sign_up">COMECE A CONTRATAR</a>
            <p class="main__firstSection--content">Contrate programadores Front-End, Back-End, Mobile ou Full Stack através do nosso site <br>
Teste a nossa solução e faça o seu próximo recrutamento sem nenhum custo</p>
        </div>
   </section>

    <section class="conteiner2">
        <article class="informations__list--item">
            <h3><img class="conteiner2__list--img" src="img/tick-inside-circle.png" alt="">Teste 100% gratuito</h3>
            <p>Cadastre-se e ganhe 30 dias para testar a <br> plataforma e <strong>recrutar até 5 programadores <br> sem custo.</strong></p>
        </article>
        <article class="informations__list--item">
            <h3><img class="conteiner2__list--img" src="img/tick-inside-circle.png" alt=""> Candidaturas pré-qualificadas</h3>
            <p>Nossa plataforma é focada em desenvolvedores. <br> Para se candidatar, exigimos que os <br> desenvolvedores sejam compatíveis à sua vaga.</p>
        </article>
        <article class="informations__list--item">
            <h3><img class="conteiner2__list--img" src="img/tick-inside-circle.png" alt=""> Economize tempo e energia</h3>
            <p>Promovemos sua vaga para os perfis <br> apropriados graças à nossa base de dados e <br> rede de parceiros. Por fim, mostramos um <br> ranking de candidatos que possuem um bom fit <br> com sua vaga.</p>
        </article>  
    </section>

    <section class="conteiner3">
        <h2>Algumas das centenas de empresas que recrutam na ProgramaThor</h2>
        <img class="companys-img" src="img/empresa-parceira.png" alt="">
    </section>

    <section class="conteiner4">
        <h2>Depoimentos de Clientes</h2>
        <section class="carrosel2-1">
            <div class="carrosel2-2">
                <h5 class="carroselIten">
                    A ProgramaThor foi a melhor ferramenta para seleção que utilizei quando o <br> assunto é:
                    match! Ou seja, trazer o candidato mais preparado para sua <br> vaga de acordo com as habilidades que você precisa.
                    Isso reduziu meu <br> tempo de contratação e me trouxe as melhores opções. Muito mais do que <br> volume, é qualidade. <br><br>
                    -Sulivan Santiago <br>  CTO & Partner - ACE Startups
                </h5>
                <h5 class="carroselIten">
                    A ProgramaThor foi a melhor ferramenta de <br> recrutamento de desenvolvedores que utilizamos,
                    os filtros <br> de skills são bem intuitivos e <br> funcionais,
                    rapidamente conseguimos <br> encontrar bons candidatos com as <br> qualidades técnicas e perfil que buscamos. <br><br>
                    -Ítalo Castilho <br> CTO - Keep.i Media

                </h5>
                <h5 class="carroselIten">
                    ProgramaThor foi a única plataforma que encontramos candidatos <br> coerentes com a vaga publicada. 
                    Em outros 3 sites famosos chegavam <br> candidatos, como: bombeiro,
                    segurança, e até gerente de restaurante para <br> a vaga de desenvolvedor. 
                    A facilidade da plataforma de interagir e <br> selecionar os perfis com maior fit é o principal diferencial. <br><br>
                    -Daniel Godoy <br> CEO - Apponte.me

                </h5>
            </div>
            <button class="carrosel__btn  carrosel__btn--prev"><</button>
            <button class="carrosel__btn  carrosel__btn--next">></button>
        </section> 
    </section>

    <section class="conteiner5">
        <h2>This website is not working in real life</h2>
        <p>this website is just a student's job and should not be taken seriously</p>
    </section>

    <section class="conteiner6">
        <h2>Como funciona?</h2>
        <ul class="cont_ul6">
            <li  class="li_off">Etapa 1: <br> Divulgue a oportunidade de trabalho gratuitamente.</li> <br><br>
            <li  class="li_off">Etapa 2: <br> Após ser analisada pela nossa equipe interna, publicaremos <br> sua vaga em nossa plataforma.</li><br><br>
            <li  class="li_off">Etapa 3: <br> Nosso algoritmo fará um matching (casamento) entre a sua <br> oportunidade e os desenvolvedores da nossa base de dados.</li> <br><br>
            <li  class="li_off">Etapa 4: <br> Promoção da sua vaga nas plataformas parceiras e <br> divulgação aos nossos programadores por meio de <br> alertas de e-mails.</li> <br><br>
            <li  class="li_off">Etapa 5: <br> Receba candidatos qualificados para sua vaga.</li> <br><br>
            <li  class="li_off">Etapa 6: <br> Consulte o ranking dos melhores candidatos para sua <br> oportunidade e entre em contato com eles para agendar <br> uma entrevista.</li> <br><br>
            
        </ul>
        <a href="/companies/sign_up">COMECE A CONTRATAR</a> <br>
        <p>Sem contrato ou cartão de crédito <br>
    Receba suas primeiras candidaturas em poucas horas de graça</p>

    </section> 
</main>











{{>end}}

<script src="js/company.js"></script>