.main__footer{
    background: #2A3F54;
    color: #EEEEEE;
    width: 100vw;
    grid-area: footer;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.main__footer--socialmedia--item{
    list-style: none;
    display: flex;
}

.main__footer--socialmedia--itens{
    margin: 0 12px;
}

.main__footer--me{
    font-size: 0.7rem;
}
/*
.end ul li{
    

}
.me{
    font-size: 12px;
}

@media (max-width:667px){


}