.conteiner1{
    background-color: #35618d;
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.fisrt__section--title{
    color: white;
    font-size: 2rem;
}

.main__search--input{
    padding: 10px 70px;
    font-size: 1.3rem;
    border-radius: 2px;
    border: none;
}

.main__search--btn{
    color: #fff;
    background-color: #32B796;
    border: none;
    padding: 7px 12px;
    font-size: 1.2rem;
    border-radius: 2px;
    cursor: pointer;
}

.vagas{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vagas:hover,
.vagas:active{
   background: rgb(230, 228, 228);
}

.main__job--title{
    font-size: 1.7rem;
    color: #34495E;
}

.main__job--itens{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main__job--item{
    color: initial;
    margin: 0.2rem 0;
    list-style: none;
}

.main__job--information{
    color: initial;
    font-size: 0.8rem;
}

.main__job--line{
    width: 100vw;
}

.pagination{
    text-align: center;
    margin: 50px 0;
}
.pagination a{
    text-decoration: none;
    color: #35618d;
    padding: 0.5rem;
    border: 1px solid #34495E;
    margin: 0 1rem;
}
.pagination a:hover,
.pagination a.active,
.pagination a:active{
    background: #35618d;
    color: white;
}

.not_found{
    text-align: center;
    margin: 50px 0;
}

@media (max-width:640px){
    .fisrt__section--title{
        font-size: 1.7rem;
    }
    
    .main__search--input{
        font-size: 1rem;
        width: 100vw;
    }
    
    .main__search--btn{
        font-size: 1rem;
        margin: 10px 0;
    }
}
