.conteiner1{
    background-color: #35618d;
    padding-top: 100px;
    width: 100%;
    min-height: 38vh;
}
.conteiner1 h3{
    text-align: center;
    color: white;
    margin: 0 0 30px 0;
    font-size: 32px;
    padding-top: 40px;
}
.conteiner1 input{
    margin-top: 40px;
    margin-left: 35%;
    padding: 10px 70px;
    font-size: 20px;
    border-radius: 2px;
    border: none;
}
.conteiner1 button{
    color: #fff;
    background-color: #32B796;
    border: none;
    padding: 7px 12px;
    font-size: 20px;
    border-radius: 2px;
    cursor: pointer;
}
.vagas{
    text-align: center;
}
.vagas:hover{
   background: rgb(230, 228, 228);
}
.vagas h4{
    margin-top: 40px;
    font-size: 28px;
    color: #34495E;
}
.vagas ul li{
    display: inline;
    margin-right: 20px;
    color: initial;
}
.vagas h6{
    font-size: 20px;
    margin-left: 1200px;
    margin-top: -80px;
}
.vagas p{
    padding-top: 20px;
    color: initial;
}
.pagination{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.pagination a{
    text-decoration: none;
    color: #35618d;
    padding: 0.5rem;
    border: 1px solid #34495E;
    margin: 0 1rem;
}
.pagination a:hover,
.pagination a.active,
.pagination a:active{
    background: #35618d;
    color: white;
}
.not_found{
    text-align: center;
    margin-bottom: 150px;
}

@media (max-width:667px){
.conteiner1{
    width: 1500px;
}
.conteiner1 h3{
    font-size: 42px;
}
.conteiner1 input{
    padding: 10px 100px;
}
.conteiner1 button{
    padding: 7px 20px;
    font-size: 23px;
}
.vagas{
    text-align: center;
    width: 1500px;
}
.vagas h4{
    font-size: 40px;
}
.vagas ul li{
    font-size: 30px;
}
.vagas p{
    font-size: 30px;
}
.pagination{
    width: 1500px;
}
.pagination a{
    font-size: 25px;
    padding: 1rem;
}



}
