.conteiner1{
    background:url("../img/indeximg1.jpg") 10% 50%/cover no-repeat fixed;
    position: relative;
    height: 80vh;
    width: 100vw;
}
.text1{
    color: #fff;
    text-shadow: 0px 0px 30px #000000;
    position: absolute;
    top: 6rem;
    left: 11rem;
}

.section_index--title{
    font: 700 2.5rem/1.6 "Open sans";
    width: 720px;
    margin: 0;
    display: block;
    min-width: 320px;
}

.carrosel1{
    height: 70px;
    width: 18rem;
    font: 700 2.5rem/1.6 "Open sans";
    text-align: left;
    overflow: hidden; 
    text-shadow: none;
    position: absolute;
    top: 3.4rem;
    left: 21rem;
    vertical-align: middle;
}
.carrosel2{
    white-space: nowrap;
    transition: ease-in-out 1s;
}
.text2{
    width: auto;
    color: rgb(16, 145, 123);
    margin: 0;
}

.text3{
    margin: 3rem 0 0 0;
    animation-name:shakeBtn;
    animation-duration: 1s;
    animation-fill-mode: both; 
    transform-origin:center;
}

.text3 a {
    color: #fff;
    font:  1.2rem/1.3 "open sans";
    background-color: #32B796;
    border-color: #2da386;
    border-radius: 2px;
    padding: 10px 16px;
}

.text3 a:hover,
.text3 a:active{
    background-color: #278f75;
    border-color: #1f735e;
}

.section_index--text{
    text-shadow: 0px 1px 1px #000;
    font: 1rem 'Open sans';
    line-height: 1.8;
    color: #fff;
    display: inline-block;
    width: 60vw;
    padding: 60px 0 0 0;
}


.conteiner2{
    padding:50px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
}

.informations__list--item{
    padding: 0 15px;
}

.conteiner2__list--img{
    width: 20px;
    vertical-align: middle;
}

.informations__list--item h3{
    font-size: 1.3rem;
    color: #34495E;
    vertical-align: middle;
    margin: 0 5px;
}

.informations__list--item p{
    font: 0.9rem Verdana, Geneva, Tahoma, sans-serif;
    color: #333333;
}

.informations__list--item span{
    color: #000000;
}

.conteiner3{
    background-color: #F4F4F4;
    position: relative;
    width: 100vw;
    text-align: center;
    padding: 20px 0;
}

.conteiner3 h2{
    color: inherit;
    text-align: center;
    font-size: 1.9rem;
    margin: 0;
    padding: 50px 0;
    opacity: 0.8;
}

.job__list{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
}

.job__list--itens{
    margin: 2px;
    padding: 0;
}


.job__list--itens li{
    list-style: none;
    background: #fff;
    margin: 0;
}

.conteiner3Text{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteiner3 h3{
    font-size: 1.5rem;
    color: #34495E;
}

.conteiner3 span{
    color: #34495E;
    font-size:1rem;
    opacity: 0.8;
}

.conteiner3 p{
    color: #34495E;
    font-size:1rem;
    opacity: 0.8;
} 

.conteiner3  ul li:hover,
.conteiner3  ul li:active{
    background-color: #f7f7f7;
    cursor: pointer;
    color: #000000;   
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -o-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06);
}

.conteiner3btn1{
    margin: 60px 0;
}

.conteiner3btn1 a{
    text-decoration: none;
    color: #fff;
    background-color: #32B796;
    border-color: #2da386;
    padding: 10px 16px;
    border-radius: 2px;
    font-size:1.3rem;
    
} 

.conteiner3btn1 a:hover,
.conteiner3btn1 a:active{
    background-color: #278f75;
    border-color: #1f735e;
}

.conteiner4{
    text-align: center;
}

.conteiner4 h2{
    font-size: 1.9rem;
    padding: 50px 0;
    opacity: 0.8;
}

.companys-img{
    width: 80vw;
}

.conteiner5{
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.conteiner5 h2{
    font-size: 1.9rem;
    padding: 60px 0 0 0;
    opacity: 0.8;   
}

.carrosel2-1{
    width: 100vw;
    overflow-x: hidden;
    font-size: 1.2rem;
    padding: 20px 0 80px 0;
    text-align: center;
}
.carrosel2-2{
    white-space: nowrap;
    transition: ease-in-out 1s;
}
.carroselIten{
    color: #333333;
    width: 100%;
    font-size: 1rem;
    margin: 0;
    display: inline-block;
}

.carrosel__btn {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 45px;
    font-size: 1rem;
    border: none;
    color: gray;
    cursor: pointer;
    background: transparent;
}

.carrosel__btn:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    
}

.carrosel__btn--prev{
    left: 0rem;
    display: block;
}

.carrosel__btn--next{
    right: 0rem;
    display: block;
}

.conteiner6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.conteiner6 h2{
    font-size: 1.9rem;
    opacity: 0.8;   
}

.conteiner6 p{
    color: #333333;
    font-size: 1rem;
    padding: 0 0 40px 0;
}

@media(max-width:780px){
    .text1{
        top: 6rem;
        left: 2rem;
    }
}

@media (max-width:667px){

    .conteiner1{
        background-position: left 20% top 50%;
    }

    .text1{
        top: 6rem;
        left: 0.5rem;
    }

    .section_index--title{
        font: 700 1.5rem/1.6 "Open sans";
    }
    
    .carrosel1{
        height: 50px;
        font: 700 1.5rem/1.6 "Open sans";
        top: 2.1rem;
        left: 12.6rem;
    }
    
    .text3 a {
        font:  1rem/1.3 "open sans";
    }
    
    .section_index--text{
        min-width: 285px;
    }

    .conteiner2{
        flex-direction: column;
    }

    .informations__list--item{
        margin: 0.8rem 0;
    }
    
    .informations__list--item h3{
        margin: 5px 0;
    }

    .conteiner3 h2{
        font-size: 1rem;
    }
    
    .job__list{
        flex-direction: column;
    }
    
    .conteiner4 h2{
        font-size: 1rem;
        padding: 50px 20px;
        display: block;
        width: 100vw;
    }

    .conteiner5{
       text-align: center;
    }
    
    .conteiner5 h2{
        font-size: 1rem;   
    }
    
    .carrosel2-1{
        width: 100vw;
        padding: 20px 0 80px 0;
        text-align: center;
    }

    .carroselIten{
        font-size: 0.5rem;
    }
   
    .conteiner6 h2{
        font-size: 1rem; 
    }
    .conteiner6 p{
        font-size: 0.9rem;
    }
    
    
}









@keyframes shakeBtn{
    20% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    40% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    60% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    80% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}




