.conteiner1{
    background-color: #34495E;
    width: 100vw;
    text-align: center;
    padding: 60px 0;
}

.conteiner1 h1{
    color: white;
    margin: 0;
}

.conteiner2{
    text-align: center;
    margin: 30px 0;
}

.conteiner2 h3{
    font-size: 1.6rem;
    color: #34495E;
}

.conteiner2_1{
    background-color: #F9F9F9;
    border-radius: 4px;
    color: #424242;
    border: 1px solid #eee;
    margin: 20px 0;
    padding: 20px;  
}

.conteiner2_1 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteiner2_1 ul li {
    list-style: none;
}

.conteiner3{
    margin: 60px auto;
    padding: 10px;
    width: 80vw;
    text-align: center;
}

.conteiner3 h3{
    color: inherit;
    font-size: 1.6rem;
}

.conteiner3 p{
    font: 1rem/1.4 "Open Sans";
    color: #333333;
}

.conteiner4{
    margin: 80px auto;
    width: 80vw;
    text-align: center;
}

.conteiner4 h3{
    color: inherit;
    font-size: 1.6rem;
}

.conteiner4 p{
    font: 1rem/1.4 "Open Sans";
    color: #333333;
    color: #333333;
}

h5{
    text-align: center;
    margin: 100px;
    font-size: 1.2rem;
}

.main__form--apply{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn1{
    color: #fff;
    background-color: #32B796;
    border-color: #2da386;
    border: 1px solid transparent;
    padding: 10px 40px;
    font-size: 1.3rem;
    border-radius: 2px;
    margin: 100px 0;
    cursor: pointer;
}

@media(max-width:667px){

}
