body{
    background-color: #34495E;
}

.conteiner1{
    text-align: center;
    margin: 100px 0;
}

.conteiner1 h1{
    color: white;
    font-size: 2.5rem;
}

.main__page--content{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100vw;
    margin-bottom: 20px;
}

.main__image--content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__image--content img{
    width: 120px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
}

.main__image--content h2{
    color: #E0E0E0;
    font-size: 1.8rem;
    margin: 0;
}

.main__image--content h4{
    color: #a6a6a6;
    font-size: 1.3rem;
    font-style: oblique;
    margin: 0;
}

.main__image--content p{
    font-size: 1em;
    text-align: center;
    margin: 50px  0;
    color: #E0E0E0;
    width: 600px;
}

.main__image--content span{
    font-weight: bold;
    color: #fffdfd;
}

.main__form--content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 50vw;
}

.conteiner3_1{
    display: flex;
    margin: 0;
    padding: 0;
    min-width: 541.21px;
}

.conteiner3_1 li{
    padding: 20px 100px;
    max-height: 62.6px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #eee;
    border-radius: 1px;
    border-bottom: none;
    list-style: none;
}

.active{
   background: #ffffff;
   color: #34495E;
}

.active:hover,
.active:active{
    color: #273646;
}

.deactivated{
     background: rgb(219, 219, 219);
     color: #808080;
}

.deactivated:hover,
.deactivated:active{
    color: #34495E;
    background: rgb(172, 170, 170);
}

.conteiner3_2{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 541.21px;
    vertical-align: top;
    padding: 20px;
    padding-bottom: 0;
}

.conteiner3_2 label{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
}

.conteiner3_2 .valid{
    color: rgb(51, 51, 51);
    padding: 6px 10px;
    width: 400px;
    font: 1rem/1.4 "Open Sans";
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    margin: 0 0 20px 0;
    text-align: left;
}

.conteiner3_2 button{
    color: #fff;
    background-color: #32B796;
    border: none;
    padding: 10px 0;
    width: 100%;
    font: 1.4rem/1.3 "Open Sans";
    border-radius: 2px;;
    margin: 20px 0;
}

.conteiner3_2 button:hover,
.conteiner3_2 button:active{
    background-color: #278f75;
    border-color: #1f735e;
    cursor: pointer;
}

.conteiner3_3{
    text-align: center;
    border-radius:4px;
    background-color: #F4F4F4;
    margin-top: 40px;
    padding: 20px;
    width: 541.21px;
    color: #34495e;
}

.error_msg{
    color: #A94453;
    background-color: #f2dede;
    border-color: #ebccd1;
    text-align: center;
    padding: 6px 100px;
    border: 2px solid transparent;
    border-radius: 4px;
    margin: 10px 0;
}

.success_msg{
    color: #ffffff;
    background: #32B796;
    border-color: #bce8f1;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 4px;
    margin: 10px 0;
    padding: 6px 100px;
}

.invalid {
    color: rgb(51, 51, 51);
    padding: 6px 10px;
    width: 400px;
    font: 1rem/1.4 "Open Sans";
    border-color: red;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    margin: 0 0 20px 0;
    text-align: left;
}

@media(max-width:1086px){
    .main__page--content{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

@media(max-width:560px){
    .main__image--content p{
        width: 100vw;
    }

}

@media(max-width:539px){
    .conteiner3_2 form,
    .conteiner3_2 .valid,
    .invalid,
    .conteiner3_3{
        width: 100vw;
    }
}
